*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Default button style */
.button {
    /* width: 200px;
    height: 150px; */
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

/* Phone styles */
@media only screen and (max-width: 480px) {
    .sm4 {
        background-color: yellow; /* Color for phone */
        width: 100%; /* Each button on its own line */
    }
}

/* Tablet styles */
@media only screen and (min-width: 481px) {
    .sm2 {
        background-color: blue; /* Color for tablet */
        width: 50%; /* Two buttons per line */
    }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
    .lg1 {
        background-color: red; /* Default color for desktop */
        width: 25%;
    }
}