.App {
  text-align: center;
  margin-top: 20px;
  max-width: 1000px;
}
label, p {
  font-weight: bold;
}

form div {
  background-color: azure;
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
}
span {
  color: aquamarine;
}