/* Global styling for the entire page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Styling for the calculator container */
#calculator {
    color: white;
    width: 300px;
    background-color: rgb(40, 39, 39);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: right;
}

/* Styling for the display area */
#display {
    font-size: 24px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(40, 39, 39);
}

/* Styling for each row of buttons */
.row {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
    margin: 0px 15px 10px 15px;
}

/* Styling for individual buttons */
button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    border:none;
    border-radius: 50%;
    background-color: #626262;
    cursor: pointer;
    color: white;
}

/* Styling for operator buttons */
.operator {
    background-color: #ff9900; /* Orange for operators */
}

/* Styling for the equals button */
#equals {
    width: 100%;
    background-color: #ccd0cc; /* Green for equals button */
    color: black;
    border-radius: 10px;
}
