/* .App {
  text-align:center;
  margin: 40px 200px;
  border: 2px solid #2492da;
  background-color: #9fc5f8;
  border-radius: 10px;
} */
/* .todo-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 30px;
  margin: 20px 20px;
  gap: 10px;
}
.todo-items {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #2492da;
  border-radius: 5px;
  background-color: white;

}
.todo-delete{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: none;
  border-radius: 5px;
  
}
.todo-delete button{

  margin: 0px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white; */
/* } */

/* .todo-add {
  margin: 10px 20px;

} */
/* form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

}
form input {
  flex: 3;
  border: none;
} */
/* form button {
  flex: 1;
  background-color: #2492da;
  border: 1px solid #2492da;
  border-radius: 5px;
  color: white;
} */
/* 
h1 {
  color: #2492da;
} */
